$color-onyx: #2e3532;
$color-onyx-light: #46504c;
$color-onyx-lighter: #525e59;
$color-claret: #8b2635;
$color-claret-light: #c7364c;
$color-alabaster: #e0e2db;
$color-alabaster-dark: #b6baaa;
$color-timberwolf: #d2d4c8;
$color-tea-green: #d3efbd;
$color-tea-green-dark: #b8e594;
$color-buff: #d89d6a;
$color-buff-dark: #c28d5f;
