<div class="app-container">
  <div class="app-header">
    <app-header-bar (onSave)="updateItems()"></app-header-bar>
  </div>
  <div class="app-body">
    <ng-container *ngIf="items?.length; else noItemsPlaceholder">
      <div class="app-itemsContainer">
        <app-to-do-item *ngFor="let item of items"
                        [toDoItemData]="item"
                        (itemUpdated)="updateItems()">
        </app-to-do-item>
      </div>
    </ng-container>
    <ng-template #noItemsPlaceholder>
      NO ITEMS
    </ng-template>
  </div>
</div>
